.lawArticle {
    padding: 0 0.15em;
}

.LER-lawName,
.LER-artNum-container,
.LER-jyi-container,
.LER-court ,
.LER-trialNum {
    padding: 0 0.15em;
    background-color: #eee;
    border: 1px solid #ccc;
    font-weight: bold;
}

.LER-iframe {
    position: absolute;
    width: 400px;
    height: 250px;
    top: 1em;
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1;
}